/// make around of floated element clear (no sibling)
///
/// @example @include clearfix();
@mixin clearfix() {
    &::after {
        clear: both;
        content: " ";
        display: table;
    }
}

/// make element not re-actable
///
/// @example @include locked();
@mixin locked() {
    pointer-events: none;
    user-select: none;
}

/// generate unified parent selector
///
/// @param {string} $child child of parent
/// @example @include unify-parent(.sidebar){ ...
@mixin unify-parent($child) {
    @at-root #{selector-unify(&, $child)} {
        @content;
    }
}
