/// Create soft drop shadow
///
/// @param {number} $x shadow x size
/// @param {number} $y shadow y size
/// @param {color} $color shadow color
/// @param {boolean} $soft make soft shadow or not.
/// @example $shadow: shadow(0, 30px, #8A959E, true);
@function shadow($x, $y, $color, $soft: false) {
    $e: type-check($x, "shadow", "x", "number");
    $e: type-check($y, "shadow", "y", "number");
    $e: type-check($color, "shadow", "color", "color");
    $e: type-check($soft, "shadow", "soft", "bool");
    $blur: (max((abs($x) abs($y))...) * if($soft == true, 3, 2));
    $spread: (max((abs($x) abs($y))...) * if($soft == true, -1, 0));
    $color: change-color($color, $alpha: if($soft == true, 0.15, 0.3));
    @return ($x $y $blur $spread $color);
}

/// calculate padding for element ((x/2) for vertical and x for horizontal)
///
/// @param {number} $padding
/// @example padding: e-pad(1rem); > padding: .5rem 1rem;
@function e-pad($padding) {
    $e: type-check($padding, "e-pad", "padding", "number");
    @return (half-of($padding) $padding);
}
