$--vars: () !default;
$--gaps: () !default;
$--units: () !default;
$--palette: () !default;
$--sizes: () !default;
$--breakpoints: (
    "mobile": "screen and (max-width: 768px)",
    "tablet": "screen and (min-width: 769px)",
    "tablet-only": "screen and (min-width: 769px) and (max-width: 1023px)",
    "until-desktop": "screen and (max-width: 1023px)",
    "desktop": "screen and (min-width: 1024px)",
    "desktop-only": "screen and (min-width: 1024px) and (max-width: 1215px)",
    "until-widescreen": "screen and (max-width: 1215px)",
    "widescreen": "screen and (min-width: 1216px)",
    "widescreen-only": "screen and (min-width: 1216px) and (max-width: 1407px)",
    "until-fullhd": "screen and (max-width: 1407px)",
    "fullhd": "screen and (min-width: 1408px)"
    /**
    * "tablet": 769px
    * "desktop": 1024px
    * "widescreen": 1216px
    * "fullhd": 1408px
    */,
) !default;
$--weights: (
    "lighter": 100,
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "bolder": 900,
) !default;
