:root {
    font-size: _var("font", "size", 12px);
}

html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    direction: _var("base", "direction", ltr);
    min-width: _var("base", "min-width", 25rem);
    font-size: _var("font", "size", 12px);
}

body {
    direction: _var("base", "direction", ltr);
    background: _color("base");
    color: _color("foreground");
    line-height: _var("base", "line-height", 1.6em);
    font-family: _var("font", "family");
    font-size: 1rem;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

button,
input,
select,
textarea {
    font-family: _var("font", "family");
    font-size: 1rem;
}

input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="radio"]):not([type="checkbox"]),
select,
textarea {
    @include control();
    display: block;
    background: _color("input");
    border: 1px solid _color("separator");
    border-radius: _var("radius", "normal");
    padding: (_gap("element") / 2) _gap("element");

    &::placeholder {
        color: _color("mute");
    }

    &:focus,
    &:active {
        border-color: _color("primary");
    }

    &:disabled,
    &.is-disabled {
        @include locked();
        background: _palette("shade", "50");
        border-color: _palette("shade", "100");
        color: _palette("shade", "300");
    }

    &:invalid {
        border-color: _color("error");
    }
}

select {
    appearance: menulist;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

select optgroup,
select option {
    font: inherit;
}

p:not(:last-child) {
    margin-bottom: _gap("element");
}

code,
pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

code {
    direction: ltr;
    padding: _gap("element");
    background: _color("section");
}

hr {
    display: block;
    border: none;
    height: 1px;
    background: _color("separator");
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
}

small {
    font-size: _size("small");
}

strong {
    font-weight: bold;
}

pre {
    direction: ltr;
    -webkit-overflow-scrolling: touch;
    background: _color("section");
    overflow-x: auto;
    padding: _gap("element");
    white-space: pre;
    word-wrap: normal;

    code {
        background: none;
        color: currentColor;
        font-size: 1em;
        padding: 0;
    }
}

a {
    color: _color("primary");
    transition: all _var("transition", "duration") _var("transition", "ease");

    &:hover {
        color: readable(_color("primary"), _color("base"));
    }
}

::selection {
    background-color: _color("primary");
    color: foreground(_color("primary"));
}
