h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    &:not(:last-child) {
        margin-bottom: _gap("element");
    }
}

h1 {
    font-size: _size("huge");
}

h2 {
    font-size: _size("big");
}

h3 {
    font-size: _size("large");
}

h4 {
    font-size: _size("medium");
}

h5 {
    font-size: _size("normal");
}

h6 {
    font-size: _size("small");
}
