.input {
    @at-root input#{&} {
        @include control();
        display: block;
        width: 100%;
        background: _color("input");
        border: 1px solid _color("separator");
        border-radius: _var("radius", "normal");
        padding: e-pad(_gap("element"));

        &::placeholder {
            color: _color("mute");
        }

        &:focus,
        &:active {
            border-color: _color("primary");
        }

        &:disabled,
        &.is-disabled {
            @include locked();
            background: _palette("shade", "50");
            border-color: _palette("shade", "100");
            color: _color("mute");
        }

        &:invalid {
            border-color: _color("error");
        }

        @each $name, $color in _colors(_var("input", "colors", ())) {
            &.is-#{$name} {
                &:focus,
                &:active {
                    border-color: $color;
                }

                &::selection {
                    background-color: $color;
                    color: foreground($color);
                }
            }
        }
    }

    &:not(input) {
        display: block;
        background: _color("input");
        border: 1px solid _color("separator");
        border-radius: _var("radius", "normal");
        overflow: hidden;

        input {
            @include control();
            display: block;
            flex: 1;
            background: none;
            border: none;
            border-radius: 0;
            padding: e-pad(_gap("element"));

            &::placeholder {
                color: _color("mute");
            }

            &:focus,
            &:active {
                border: none;
            }

            &:disabled,
            &.is-disabled {
                background: none;
                border-color: none;
                color: _color("mute");
            }

            &:invalid {
                border: none;
            }
        }

        &:focus-within {
            border-color: _color("primary");
        }

        &:disabled,
        &.is-disabled {
            @include locked();
            background: _palette("shade", "50");
            border-color: _palette("shade", "100");
            color: _color("mute");
        }

        @each $name, $color in _colors(_var("input", "colors", ())) {
            &.is-#{$name} {
                &:focus-within {
                    border-color: $color;
                }

                &::selection {
                    background-color: $color;
                    color: foreground($color);
                }
            }
        }
    }
}
