@use "sass:math";
@use "../termeh" as T;

$-colors: T.var("link", "colors", ());

.link {
    @include T.control();
    line-height: 1em;
    cursor: pointer;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    padding: math.div(T.var("base", "line-height", 1.6em) - 1em, 2) 0;

    &::after {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: 0%;
        width: 0%;
        height: 1px;
        transform: translateX(-50%);
        transition: all T.transition-params();
        background: currentColor;
    }

    &:hover {
        text-decoration: none;
        ::after {
            text-decoration: none;
            width: 100%;
        }
    }

    @each $name, $color in T.colors($-colors) {
        &.is-#{$name} {
            color: T.readable(T.color("background"), $color);
        }
    }
}
