@use "../termeh" as T;

.meta {
    display: inline-block;
    text-decoration: none;
    background: none;
    white-space: nowrap;
    color: T.variant("shade", "mute");
    line-height: T.var("line-height", "inline", 1.6em);
    @include T.unselectable();

    &.is-action {
        cursor: pointer;
        color: T.color("shade");

        &:hover {
            text-decoration: none;
            color: T.variant("shade", "readable");
        }
    }

    @each $name, $color in T.colors(T.var("meta", "colors", ())) {
        &.is-#{$name} {
            &:not(.is-action) {
                color: T.variant($name, "mute");
            }

            &.is-action:hover {
                color: T.variant($name, "readable");
            }
        }
    }
}
