.action {
    @include control();
    width: auto;
    background: transparent;
    color: _color("foreground");
    border-radius: _var("radius", "normal");
    line-height: 1em;
    padding: (_var("base", "line-height", 1.6em) - 1em)
        (_var("base", "line-height", 1.6em) - 1em);
    transition: all _var("transition", "duration") _var("transition", "ease");
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: harmony(
            _color("base"),
            _palette("shade", "100"),
            _palette("shade", "700")
        );
        color: _color("foreground");
    }

    &.is-default {
        background-color: harmony(
            _color("base"),
            _palette("shade", "100"),
            _palette("shade", "800")
        );
        color: _color("foreground");

        &:hover {
            background-color: harmony(
                _color("base"),
                _palette("shade", "200"),
                _palette("shade", "700")
            );
        }
    }

    &:disabled,
    &.is-disabled {
        @include locked();
        background: _palette("shade", "50") !important;
        color: _color("mute") !important;

        &:hover {
            background: _palette("shade", "50") !important;
            color: _color("mute") !important;
        }
    }

    @each $label, $color in _colors(_var("action", "colors", ())) {
        &.is-#{$label} {
            $col: readable($color, _color("base"));
            color: harmony(
                _color("base"),
                palette($col, "300"),
                palette($col, "700")
            );

            &:hover {
                background-color: harmony(
                    _color("base"),
                    palette($color, "50"),
                    palette($color, "800")
                );
                color: readable($color, _color("base"));
            }

            &.is-default {
                $col: readable($color, _color("base"));
                background-color: harmony(
                    _color("base"),
                    palette($col, "50"),
                    palette($col, "800")
                );
                color: readable($color, _color("base"));

                &:hover {
                    background-color: harmony(
                        _color("base"),
                        palette($col, "100"),
                        palette($col, "700")
                    );
                }
            }
        }
    }
}
