.badge {
    $background: harmony(
        _color("base"),
        _palette("shade", "100"),
        _palette("shade", "800")
    );

    display: inline-block;
    line-height: 1em;
    padding: half-of(_var("base", "line-height", 1.6em) - 1em) _gap("element");
    text-decoration: none;
    user-select: none;
    background: $background;
    color: foreground($background);
    white-space: nowrap;

    @each $label, $color in _colors(_var("badge", "colors", ())) {
        &.is-#{$label} {
            $col: readable($color, _color("base"));
            $background: harmony(
                _color("base"),
                palette($col, "50"),
                palette($col, "800")
            );
            background-color: $background;
            color: readable($color, $background);
        }
    }
}
