.container {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: _gap("container");
    max-width: 100%;

    &:not(:last-child) {
        margin-bottom: _gap("container");
    }

    &:not(.is-fluid) {
        @include desktop() {
            max-width: 960px;
        }
        @include widescreen() {
            max-width: 1200px;
        }
    }

    &:not(.is-padding-less) {
        @each $label, $gap in _gaps(_var("container", "gaps", ())) {
            &.is-#{$label}-padded {
                padding: $gap;
            }
        }
    }
}
