.icon {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    transition: all _var("transition", "duration") _var("transition", "ease");

    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        transition: all _var("transition", "duration")
            _var("transition", "ease");
    }

    svg {
        width: 100%;
        fill: currentColor;
        transition: all _var("transition", "duration")
            _var("transition", "ease");

        > * {
            fill: currentColor;
        }
    }

    &.is-action {
        cursor: pointer;
        color: _color("mute");

        > img {
            filter: grayscale(_var("icon", "grayed", 0.5));
        }

        &:hover {
            color: _color("foreground");

            > img {
                filter: grayscale(0);
            }
        }
    }

    &:disabled,
    &.is-disabled {
        @include locked();
        color: _color("mute") !important;
        opacity: 0.5;

        > img {
            filter: grayscale(1) !important;
        }

        &:hover {
            color: _color("mute") !important;

            > img {
                filter: grayscale(1) !important;
            }
        }
    }

    @each $label, $size in _sizes(_var("icon", "sizes", ())) {
        &.is-#{$label} {
            height: $size;
            width: $size;
        }
    }

    @each $label, $color in _colors(_var("icon", "colors", ())) {
        &.is-#{$label} {
            color: readable($color, _color("base"));

            &.is-action {
                cursor: pointer;
                color: _color("mute");

                &:hover {
                    color: readable($color, _color("base"));
                }
            }
        }
    }
}
