.input {
    display: block;

    &:not(:last-child) {
        margin-bottom: _gap("container");
    }

    & > :not(:last-child) {
        margin-bottom: _gap("element");
    }

    label {
        display: block;
        width: 100%;
    }

    input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="radio"]):not([type="checkbox"]),
    select,
    textarea {
        display: block;
        width: 100%;
    }

    .errors {
        display: none;
        width: 100%;
    }

    &.is-required {
        label::after {
            content: "*";
            color: readable(_color("primary"), _color("base"));
        }
    }

    &.is-failed {
        input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            border-color: _color("error");
        }

        .errors {
            display: block;

            > * {
                display: block;
                margin: 0;
                padding: 0;
                color: readable(_color("error"), _color("base"));
            }
        }
    }
}
