.link {
    @include control;
    position: relative;
    line-height: 1em;
    padding: half-of(_var("base", "line-height", 1.6em) - 1em) 0;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    user-select: none;

    &::after {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: 0%;
        width: 0%;
        height: 1px;
        transform: translateX(-50%);
        transition: all _var("transition", "duration")
            _var("transition", "ease");
        background: currentColor;
    }

    &:hover::after {
        width: 100%;
    }

    @each $label, $color in _colors(_var("link", "colors", ())) {
        &.is-#{$label} {
            color: $color !important;
        }
    }
}
