.meta {
    display: inline-block;
    text-decoration: none;
    user-select: none;
    background: transparent;
    color: _color("mute");
    white-space: nowrap;

    &.is-action {
        cursor: pointer;
        &:hover {
            color: _color("foreground");
        }
    }

    @each $label, $color in _colors(_var("meta", "colors", ())) {
        &.is-#{$label} {
            $col: readable($color, _color("base"));
            color: harmony(
                _color("base"),
                palette($col, "200"),
                palette($col, "700")
            );

            &.is-action:hover {
                color: $col;
            }
        }
    }
}
