@import "../scss/core.scss";
@include _var("font", "family", "calibri");
@include _var("font", "size", 12px);
@include _color("primary", #2a9d8f, true);
// @include set-color("shade", #0d1326, true);
@import "../scss/reset.scss";

@import "../scss/component/action.scss";
@import "../scss/component/badge.scss";
@import "../scss/component/button.scss";
@import "../scss/component/card.scss";
@import "../scss/component/container.scss";
@import "../scss/component/flex.scss";
@import "../scss/component/gaper.scss";
@import "../scss/component/header.scss";
@import "../scss/component/icon.scss";
@import "../scss/component/field.scss";
@import "../scss/component/landscape.scss";
@import "../scss/component/layout.scss";
@import "../scss/component/link.scss";
@import "../scss/component/loader.scss";
@import "../scss/component/meta.scss";
@import "../scss/component/stack.scss";

.attachment {
    background: _color("separator");
    text-align: right;
    padding: 1rem;
}
.sidebar {
    min-width: 10rem;
    min-height: 5rem;
    background: _color("mute");
}

.content {
    background: _palette("shade", "50");
}

.lorem {
    padding: 2rem;
}
